#about-full {
    background-image: repeating-linear-gradient(to bottom right, rgb(195, 255, 166), rgb(244, 239, 112), rgb(94, 253, 234));
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.headers-text {
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    text-decoration: underline;
}


.about {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.description {
    font-size: 2vw;
    margin-top: -3vw;
    margin-left: 2vw;
    font-family: 'Questrial', sans-serif;
}