.home-main-text {
    font-size: medium;
    color: black;
}

#home-full {
    background-image: repeating-linear-gradient(to bottom right, rgb(195, 255, 166), rgb(244, 239, 112), rgb(94, 253, 234));
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.top-nav-components {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    border: .25vw solid white;
    border-radius: 1vw;
    background-color: black;
    text-align: center;
    align-self: center;
    height: min-content;
    width: 11vw;
    margin: 2vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.top-nav-components:hover {
    box-shadow: 0vw 0vw .7vw .3vw white;
}

.top-nav-text {
    text-decoration: none;
    color: white;
}

.top-nav {
    margin-top: 4vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    font-family: 'Questrial', sans-serif;
    font-size: 10vw;
    padding-left: 3vw;
    padding-top: 3vw;
    padding-right: 3vw;
    width: min-content;
}

.search {
    display: flex;
    flex-direction: row;
}

.search-button {
    height: min-content;
    width: min-content;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10vw;
    border: .25vw solid black;
    font-size: 3.5vw;
    margin-left: .5vw;
}

.search-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.home-top {
    display: flex;
    flex-direction: row;
}

#location {
    border: .25vw solid black;
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    padding-inline-start: 1vw;
    margin-left: 3.5vw;
    margin-top: 10vw;
}


/*
    This part is for the three images found in the
    middle of the home page
*/

.images-div {
    margin-top: 5vw;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    transition: .4s all;
}

.images-div:hover {
    color: rgba(0, 0, 0, 1);
}

.images-text {
    z-index: 2;
    margin-top: -60%;
    font-size: 2.25vw;
    font-family: 'Questrial', sans-serif;
}

.home-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8vw;
}


.image {
    z-index: 0;
    width: 30vw;
    height: 25vw;
    border: .25vw solid black;
    border-radius: 1vw;
    margin-bottom: 5vw;
}

/*
    Logo link - the link to the home page
*/

.logo-link {
    text-decoration: none;
    color: black;
}