/*
  App
*/

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*
  Fonts
*/
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes chatting {
  0% {
    transform: translateY(5vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

a {
  color: white;
}

a:hover {
  color: grey;
}

p {
  font-size: 1.9vw;
  margin: 1vw;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 1.8vw;
  margin-left: 15vw;
  margin-right: 10vw;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.25vw;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(30) infinite;
  margin-left: 10vw;
  max-width: 90%;
}

h2 span {
  content: '';
  padding-left: .5vw;
  border-right: .3vw solid white;
  animation: blink 1s step-end infinite;
}

h3 {
  font-family: 'Abel', sans-serif;
  text-underline-offset: .5vw;
  align-self: center;
  white-space: nowrap;
  transition: .5s all;
  width: auto;
}

h4 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5vw;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 8s steps(60) infinite;
  margin-left: 2vw;
}

h4 span {
  content: '';
  padding-left: .5vw;
  border-right: .3vw solid black;
  animation: blink 1s step-end infinite;
}


h5 {
  font-family: 'Nova Mono', monospace;
  margin-left: 10vw;
  font-size: 3vw;
}

h6 {
  font-family: 'Abel', sans-serif;
  margin-left: 15vw;
  margin-right: 10vw;
  line-height: 3vw;
  font-size: 1.8vw;
}

h7 { 
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5vw;
  line-height: 3vw;
}

/*
  Components below, separated by each comment
*/

/*
  Tab
*/

.tab {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  z-index: 4;
  align-self: flex-end;
  position: fixed;
  border: .25vw solid black;
  background-color: rgb(117, 117, 117);
  border-top-left-radius: 1vw;
  transition: .5s all;
}


.sections {
  font-size: 2vw;

}

.sections:hover {
  text-shadow: 0vw 0vw .3vw white;
}

/*
  Introduction
*/

.intro {
  background-color: rgb(31, 31, 33);
  color: white;
  border-top: .35vw solid black;
  width: 100%;
  min-height: 75vw;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5vw;
  padding-top: 2vw;
}

.timeline-line {
  transform: translateY(1.5vw);
  width: 64%;
  height: .2vw;
  background-color: white;
  z-index: 2;
}

.timeline-dropline.selected {
  content:'';
  background-color: white;
  height: 6vw;
  width: .2vw;
  transform: translate(3.1vw, 3.75vw);
}

.timeline-date {
  transform:translate(-2vw, -3vw);
  white-space: nowrap;

}

.timeline-nodes {
  display: flex;
  justify-content: space-between;
  width: 70%;
  z-index: 3;
}

.timeline-node {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}

.timeline-node.selected {
  outline: .35vw solid white;
}



.timeline-description {
  margin-top: 5vw;
}


/*
  Logo
*/

.logo {
  overflow: hidden;
}


/*
  About
*/

.about {

}

/*
  Methods
*/

.methods {
  width: 100%;
  padding-bottom: 5vw;
}

.blocks {
  border: .6vw solid black;
  border-radius: .5vw;
  text-align: center;
}

.blocks-image {
  margin: 2vw;
  width: 15vw;
  height: 15vw;
  margin-bottom: 4vw;
}

.blocks-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  width: 90%;
  margin: 0 auto;
}

.card {
  position: relative;
  text-align: center;
  z-index: 0;
  width: 20vw;
  height: 28vw;
  transition: transform .7s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 2vw solid black;
  align-self: center;
}

.card-front,
.card-back {
  border: .3vw solid black;
  border-radius: 1vw;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
}

.card-back {
  display: flex;
  background-color: #bbb;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  transform: rotateY(180deg);
}



/*
  Data
*/

.data {
  width: 100%;
  background-color: rgb(36, 36, 36);
  color: white;
}

.data-questions {
  max-width: 95vw;
  padding-bottom: 2vw;
}

.chat-data {
  border: .2vw solid white;
  border-top-left-radius: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-top-right-radius: 1vw;
  max-width: 50%;
  margin: 2vw;
  margin-left: 10vw;
}

.chat-container {

}

.chat-data:hover {
  text-shadow: 0vw 0vw .1vw white;
  box-shadow: 0vw 0vw .5vw white;
}

.left {
  border-bottom-right-radius: 1vw;
}

.right {
  border-bottom-left-radius: 1vw;
  transform: translateX(20vw);
}

/*
  Conclusion
*/

.conclusion {

}