/*
  App
*/

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*
  Fonts
*/
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

h3 {
  font-family: 'Abel', sans-serif;
  text-underline-offset: .5vw;
  align-self: center;
  white-space: nowrap;
  transition: .5s all;
  width: auto;
}

h4 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5vw;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 8s steps(60) infinite;
  margin-left: 2vw;
}

h4 span {
  content: '';
  padding-left: .5vw;
  border-right: .3vw solid black;
  animation: blink 1s step-end infinite;
}


h5 {
  font-family: 'Nova Mono', monospace;
  margin-left: 10vw;
  font-size: 2.5vw;
}

h6 {
  font-family: 'Abel', sans-serif;
  margin-left: 15vw;
  margin-right: 10vw;
  line-height: 3vw;
  font-size: 2vw;
}

/*
  Components below, separated by each comment
*/

/*
  Tab
*/

.tab {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  align-self: flex-end;
  position: fixed;
  border: .25vw solid black;
  background-color: rgb(117, 117, 117);
  border-top-left-radius: 1vw;
  transition: .5s all;
}

.sections {
  font-size: 2vw;

}

.sections:hover {
  text-shadow: 0vw 0vw .3vw white;
}

/*
  Introduction
*/

.intro {
  background-color: rgb(67, 67, 73);
  color: white;
  border-top: .35vw solid black;
  width: 100%;
}


/*
  Logo
*/

.logo {
  overflow: hidden;
}


/*
  About
*/

.about {

}

/*
  Methods
*/

.methods {
  width: 100%;
}

/*
  Data
*/

.data {
  width: 100%;
  background-color: grey;
  color: white;
}

/*
  Conclusion
*/

.conclusion {

}